html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
}
body {
  background: linear-gradient(to bottom left, #ffffff 5%, #005a8c 100%);
  background-size: cover;
  background-position: 70% 30%;
  background-repeat: no-repeat;
} 
---------------------------FONT STYLING
.logo {
  margin-top: 200px;
}
img{
  margin-left: 250px;
}
form {
  display: block;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-box-style {
  background: transparent;
  border-width: 2px;
  margin-top: 5px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;
}
.form-box-style:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.custom-select {
  background: transparent;
  border-width: 2px;
  margin-top: 5px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1em;
}
.custom-select:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
input::-webkit-input-placeholder {
  color: #fff !important;
}
.sign-in-btn {
  background-color: #004972;
  color: #fff;
  margin-top: 40px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.1em;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.sign-in-btn:hover {
  background: #5babd8;
}
a,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
} 